
#root{
    margin-top:-3%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;


}
.logo{
    margin-left:200%;
}

#titleText2{
    font-weight: 900;
    font-size: 10vw;

    line-height:0.00001em;

}

.grid-container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
    display:inline-grid;
    grid-template-columns: auto auto auto ;
    grid-column-gap: 5vw;


}
.detailgrid{
    display:inline-grid;
    grid-template-rows: auto auto auto;

}
.grid-container img{
    width:15vw;
    height:15vw;
}
